nav {
    width: 100%;
    height: 55px;
    position: relative;
}

#lander {
    height: 100vh;
}

#lander > #contents {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

#lander > #contents > div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#lander > #contents > div > #buttons {
    margin-left: 25%;
    margin-right: 25%;
}

#lander > #contents > div > #buttons > p > a {
    margin-left: 5%;
    margin-right: 5%;
}

#lander > div > video {
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
    position: fixed;
    z-index: '-1';
}

#content {
    position: relative;
    padding-bottom: 7.5vh;
}

#content > * {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 7.5vh;
}


#contact {
    position: relative;
}

#contact > div {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
}

#project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project_row {
    padding-top: 3.5vh;
}

#project_showcase {
    width: 50%;
    height: 50vh;
}

#project_showcase > iframe {
    width: 200%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
